.git
.gitignore

**/.DS_Store
**/.env
**/.env.*
!**/.env.example

backend/target/*
deploy/artifacts/*
!deploy/artifacts/backend
!deploy/artifacts/backend/*
frontend/node_modules
frontend/**/node_modules
frontend/**/dist
!frontend/apps/web/dist
!frontend/apps/web/dist/**
!frontend/apps/admin/dist
!frontend/apps/admin/dist/**

output
temp/dev-logs
