.git
.gitignore

**/.DS_Store
**/.env
**/.env.*
!**/.env.example

backend/target/*
backend/target/release/*
!backend/target/release/web-server
!backend/target/release/migration
!backend/target/release/xtask
frontend/node_modules
frontend/**/node_modules
frontend/**/dist
!frontend/apps/web/dist
!frontend/apps/web/dist/**
!frontend/apps/admin/dist
!frontend/apps/admin/dist/**

output
temp/dev-logs
